{% extends '../base/base.html' %}

{% block content %}
<div class="row">
    <!-- leftside -->
    {% include './leftsidebar.html'%}
    {% load crispy_forms_tags %}
    <!-- Rightside -->
    <div class="col-md-9">
        <h3>Edit post</h3>
        <form action="{% url 'edit_posts' post.id %}" method="POST" style="width: 500px;">
            {% csrf_token %}
            {{form | crispy }}
            <button type="submit" class="btn btn-warning">submit</button>
        </form>
        
    </div>
</div> 
{% endblock %}